<div class="jumbotron">
  <h1>Real Talk.</h1>
  <p>Real life. Real people. Real moments. Take it or leave it. Get heard or get buried. Get rich or die trying. Get real or die a phony.</p>
  <p>Unapologetically real.</p>
  <p>{{#link-to 'chats' class="btn btn-primary btn-lg"}}Let's get talking{{/link-to}}</p>
</div>